<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="CucumberSuite" parallel="tests" thread-count="2">
    <test name="RunCucumberTests">
        <classes>
            <class name="tests.web.LoginTest"/>
            <class name="tests.web.DashboardTest" />
        </classes>
    </test>
<!--    <test name="RunCucumberTests2">-->
<!--        <classes>-->
<!--            <class name="tests.web.LoginTest"/>-->
<!--&lt;!&ndash;            <class name="tests.web.DashboardTest" />&ndash;&gt;-->
<!--        </classes>-->
<!--    </test>-->
</suite>